form {
  margin-top: 50px;
  margin-right: center;
  margin-left: auto;
  float: left;
}

label {
  margin-top: 5px;
  margin-left: 40px;
  margin-right: 40px;
  float: center;
  display: inline-block;
  text-align: right;
}

input {
  width: 500px;
  float: right;
}
