<div class="card">
  <div class="card-block">
    <br>
    <h4 class="card-title">DMCA Notice & Takedown Policy</h4>
    <br>
    <h6 class="card-subtitle mb-2 text-muted">Our Policy</h6>
    <p class="card-text">It is our policy to respond to clear, legally valid notices of alleged copyright infringement that comply with the criteria established by Digital Millennium Copyright Act ("DMCA") of 1998. In addition, we terminate without notice the accounts of users that we determine are repeat infringers based on a "three-strikes" policy.</p>
    <br>
    <h6 class="card-subtitle mb-2 text-muted">Procedure for Filing a DMCA Copyright Infringement Takedown Notification</h6>
    <p class="card-text">If you are a copyright owner or an agent thereof, and you believe that any content hosted on our website (NASAImageViewer) infringes your copyrights, then you may submit a notification pursuant to the DMCA by providing NASA Image Viewer's Designated Copyright Agent (Sarah Whelan) with the following information in writing or via email
      (please consult your legal counsel or see 17 U.S.C. Section 512(c)(3) to confirm these requirements):</p>
      <ol>
        <li>A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
        <li>Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works on the NASA Image Viewer website are covered by a single notification, a representative list of such works at that site.</li>
        <li>Identification of the material that is claimed to be infringing or to be the subject of infringing activity that is to be removed or access to which is to be disabled. Include a direct link (URL) to each and every claim of infringement. We cannot action nonspecific claims based on keywords, search queries, title, name, or resemblance (physical or otherwise) to another document.</li>
        <li>Information reasonably sufficient to permit NASA Image Viewer to contact the complaining party, such as an address, telephone number, and, if available, an electronic mail address at which the complaining party may be contacted.</li>
        <li>A statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law.</li>
        <li>A statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
      </ol>
    <br>
    <h6 class="card-subtitle mb-2 text-muted">Please note that under Section 512(f) of the DMCA, any person who knowingly<br>materially misrepresents that material or activity is infringing may be subject to liability.</h6>
    <br>
    <h6 class="card-subtitle mb-2 text-muted">Contact Information</h6>
    <p class="card-text" id="contact">NASA Image Viewer, Inc.<br>Attn: NASA Image Viewer DMCA copyright infringement notification<br>
    1151 Richmond Street<br>London, ON, Canada<br><br>or email to:<br><br>swhela2@uwo.ca<br>Subject: NASA Image Viewer DMCA copyright infringement notification</p>
  </div>
  <br>
</div>
<br>
<br>
