<p id="top">
  <b>Welcome!</b><br> NASA Image Viewer provides an easy way to
  search and make collections out of your favourite space photos,
  view other collections, and rate them.<br>
  If you'd like to make your own collections, please <b>register</b>
  for an account or <b>login</b> with your credentials.
  <b>Enjoy!</b><br><br>
  <b>P.S. below are our top 10 image collections.<br> Register or Login to see more and start exploring!</b>
</p>

<a id="button" class="btn btn-primary" href="/register" role="button">Register</a>
<a id="button" class="btn btn-primary" href="/login" role="button">Login</a>

<div *ngIf="readyToDisplay">
  <div class="card-group">
    <div *ngFor="let collection of collections" id="collections">
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="{{collection.img}}" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">{{collection.name}}</h4>
          <p class="card-text">{{collection.rating}} stars</p>
          <button type="button" data-toggle="modal" data-target=".bd-example-modal-lg" (click)="getImgsInCollection(collection.id)" class="btn btn-info">View Full Collection</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="ready">
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <h3 id="collName">{{collName}} Collection</h3>
          <ul>
            <div *ngFor="let img of imgs">
              <img src="{{img}}" id="pics">
            </div>
          </ul>
        </div>
      </div>
    </div>
</div>
