<br>
<div class="card">
  <div class="card-block">
    <br>
    <h4 class="card-title">Privacy Policy</h4>
    <br>
    <h6 class="card-subtitle mb-2 text-muted">What information does NASA Image Viewer collect?</h6>
    <p class="card-text">We only collect information that you explicity provide to us when you register for an account:
      your email address, and your password. </p>
    <br>
    <h6 class="card-subtitle mb-2 text-muted">Why is that information collected?</h6>
    <p class="card-text">We collect this information in order to tailor your user experience.
    In order for you to create image collections and come back to them later, we need some way
    of tracking who you are!</p>
    <br>
    <h6 class="card-subtitle mb-2 text-muted">How is this information used?</h6>
    <p class="card-text">Your email address is used to identify which image collections are yours.
    This allows you to view, create, edit, and delete your personal collections. Your password
    is used to verify that you are in fact the owner of your account.</p>
    <br>
    <h6 class="card-subtitle mb-2 text-muted">Who has access to this information?</h6>
    <p class="card-text">The only organization with access to your information is us. We simply use your email
    address to track which image collections are yours. We cannot access your password, as it is securely encrypted in our database.</p>
    <br>
    <h6 class="card-subtitle mb-2 text-muted">What happens in the event of a takeover or dissolution?</h6>
    <p class="card-text">In either of these cases, you will be notified via email. In the case of
    a takeover, we expect the new owners of this service to continue storing information securely.
    You will at all times have the option of deleting your account if you do not feel your information is being protected.
    In the case of a dissolution, your information will be destroyed. </p>
    <br>
    <h6 class="card-subtitle mb-2 text-muted">Who can I contact if I have questions?</h6>
    <p class="card-text">Feel free to contact us via email at swhela2@uwo.ca regarding any inquiries to our privacy policy. </p>
    <br>
  </div>
</div>
<br>
